

<div>
  <%= form_for [@comic, @booking] do |f| %>
    <%= f.text_field :start_time, { :style=> 'width: 120px', :wrap => :soft,}%>
    <%= f.text_field :end_time , { :style=> 'width: 120px', :wrap => :soft,}%>
    <%= f.submit "Book it now", class: "button" %>
  <% end %>
  </div>


<%= content_for(:js) do %>
<script type="text/javascript">
    $(function () {
        $('#booking_start_time').datetimepicker({
          locale: 'fr'
        });
        $('#booking_end_time').datetimepicker({
            useCurrent: false,
            locale: 'fr'
        });
        $("#booking_start_time").on("dp.change", function (e) {
            $('#booking_end_time').data("DateTimePicker").minDate(e.date);
        });
        $("#booking_end_time").on("dp.change", function (e) {
            $('#booking_start_time').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
<% end %>









