
<div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="scroll">

      <div class="text-comic">
        <h2><strong>Make your pick!</strong></h2>
      </div>
      <ul>
        <% if @profils_list == [] %>
        <%= "Display image" %>
        <% end %>


        <% @profils_list.each do |profil| %>
          <% profil.user.comics.each do |comic| %>
            <%= link_to comic do%>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="card-map">
                <%= link_to comic do%>
                  <%= cl_image_tag comic.photo, :height=> 350, :crop=>"fill" %>
                <%end%>
                </div>
            </div>
            <%end%>
          <%end%>
        <%end%>
      </ul>
      </div>
    </div>

    <div class="col-sm-6">
      <div id="map" style="width: 600px; height: 700px;"></div>
        <% content_for(:js) do %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              var handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function() {
                markers = handler.addMarkers(<%= raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                if (markers.length == 0) {
                  handler.getMap().setZoom(2);
                } else if (markers.length == 1) {
                  handler.getMap().setZoom(14);
                }
              });
            });
          <% end %>
        <% end %>
      </div>
  </div>
</div>


