<% content_for(:title) do %>
<%= @comic.title %>
<% end %>

<br>
<br>
<br>
<br>




<div class="wrapper ">
    <div class="container " >
      <div class="row ">
          <% if current_user  %>
            <% if current_user.id == @comic.user_id %>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <% if @comic.photo?%>
                <%= image_tag @comic.photo.url(:standard), class: "img" %>
                <%end%>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
              <h1> <%= @comic.title %> </h1>
                <h2 class="adaptation"> <%= link_to comic_path(@comic),
                  method: :delete,
                  data: { confirm: "Une bédé de Bachibouzouk?" } do %>
                    <i class="fa fa-trash-o"></i>
                  <%end%>
                  <%= link_to  edit_comic_path(@comic) do  %>
                    <i class="fa fa-pencil"></i>
                  <%end%>
                </h2>
                <h3>Synopsis</h3>
                <p> <%= @comic.description %> </p>
                <div>

                <%= render '/bookings/form'%>

                </div>
              </div>
              <% end %>
            <% end %>
      </div>
    </div>


</div>
