<% content_for(:title) do %>
<%= @comic.title %>
<% end %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="wrapper ">
  <div class="text-center">
    <div class="container" >
      <div class="row ">
        <div class="col-xs-12 ">
          <h1 class="adaptation"><%= @comic.title %> <%= link_to comic_path(@comic),
            method: :delete,
            data: { confirm: "Une bédé de Bachibouzouk?" } do%>
            <i class="fa fa-trash-o"></i>
            <%end%>
            <%= link_to  edit_comic_path(@comic) do  %>
            <i class="fa fa-pencil"></i>
            <%end%>
          </h1>
        </div>
        <div class="col-xs-12">
          <% if @comic.photo?%>
          <%= image_tag @comic.photo.url(:standard) %>
          <%end%>
        </div>
      </div>
    </div>
  </div>
  <div>

  <hr>
  <hr>
  <hr>
  <hr>

  <%= render '/bookings/form'%>

  </div>

  <hr>



</div>
