<div class="navbar-wagon <%= "navbar-wagon-fixed" if (action_name == "home") %>">
  <!-- Logo -->
  <a href="/" class="footer-brand">
    <%= image_tag("logo_bedetek.png") %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->
    <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <!-- Text link -->
    <!--     <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a> -->

    <!-- Text link -->
    <!--     <a href="" class="navbar-wagon-item navbar-wagon-link">Team</a> -->

    <!-- Notification link-->
    <a href="" class="navbar-wagon-item navbar-wagon-link">
      <div class="badge-container">
        <i class="fa fa-shopping-basket"></i>
        <div class="badge badge-blue">0</div>
      </div>
    </a>

    <!-- Profile picture and dropdown -->
    <% if user_signed_in? %>
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
        <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <% if current_user.profil == nil %>
            <%= link_to "Profile", new_profil_path%>
            <% else%>
            <%= link_to "Profile", profil_path(current_user.profil)%>
            <%end%>
          </li>
          <li><a href="#">Pending reservations</a></li>
          <li>
           <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
         </li>
       </ul>
     </div>

   </div>
   <% if current_user.profil == nil %>
   <%= link_to "Add a comic", new_profil_path, {class: "btn btn-primary btn-lg" }%>
   <% else %>
   <%= link_to "Add a comic", new_comic_path, {class: "btn btn-primary btn-lg" }%>
   <% end %>
   <% else %>
   <div>
    <%= link_to "Connexion", user_session_path %>
    <a href="../users/sign_up">Inscription</a>
  </div>
  <% end %>

  <!-- Button (call-to-action) -->

</div>

<!-- Dropdown appearing on mobile only -->
<div class="navbar-wagon-item hidden-md hidden-lg">
  <div class="dropdown">
    <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <li><a href="#">Some mobile link</a></li>
      <li><a href="#">Other one</a></li>
      <li><a href="#">Other one</a></li>
    </ul>
  </div>
</div>
</div>
