<%= render "shared/banner" %>

<div class="wrapper display-home">

 <div class="container text-center padded features">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <%= image_tag "map.png", class: "comic_size" %>
          <h2>Look around you</h2>
          <p>Get comics close to you</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%= image_tag "handshake.png" %>
          <h2>Borrow a comic</h2>
          <p>Don't buy them, just rent them!</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%= image_tag "superhero.png" %>
          <h2>Read for hours</h2>
          <p>Enjoy thousands of comics</p>
        </div>
      </div>
  </div>
<div class="wrapper wrapper-comic">
  <div class="container">
    <h2 class="row text-amazing text-center">
      <strong>
        Discover comics cloth to your favorites cities...
      </strong></h2>
    <div class="col-xs-12 col-sm-4">
<div class="card-theme" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dihkcqkkd/image/upload/v1479484900/new_york_escxyo.jpg');">
          <div class="card-category-theme"></div>
          <div class="card-description-theme">
            <h3>New York</h3>
          </div>
          <a href="/comics?location=new+york" class="card-link-theme"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card-theme" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dihkcqkkd/image/upload/v1479484900/paris_dfior4.jpg');">
          <div class="card-category-theme"></div>
          <div class="card-description-theme">
            <h3>Paris</h3>
          </div>
          <a href="/comics?location=Paris" class="card-link"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
            <div class="card-theme" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'lille.jpg' %>);">
          <div class="card-description-theme">
            <br>
            <h3>Lille</h3>
          </div>
          <a href="/comics?location=lille" class="card-link"></a>
        </div>

      </div>
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <h2 class="row text-amazing text-center"><strong>...and an endless selection</h2></strong>

    <% a = [] %>
    <% @comics.each do |c| %>
      <% if c.photo? %>
      <% a << c %>
      <% end %>
    <% end %>

    <% 12.times do %>
    <% c = a.sample %>
    <div class="col-xs-12 col-sm-4 col-lg-3">
      <%= render "comic", comic: c %>
    </div>
    <% end %>
  </div>



<div class="container text-center padded features">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= image_tag "sattouf.png" %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <% a = [] %>
          <% @comics.each do |c| %>
          <% a << c.photo %>
          <% end %>
          <%= carousel_for(a) %>
        </div>
    </div>
</div>

