
<div class="container creation">
  <div class="row">

    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

      <div class="form-login" id="centerbuttons">
      <h3 class="text-center">Your profil</h3>

          <%= simple_form_for [@profil] do |f| %>
          <%= f.input :first_name, label: 'what is your first name?'%>
          <%= f.input :last_name, label: 'What is your last name?'%>
          <%= f.input :address, label: 'Where do you live?'%>
          <%= f.input :city, label: 'Moulinsart?'%>

          <% if !current_user.facebook_picture_url? %>
          <%= f.input :photo, label: 'Blaz'%>
          <%= f.input :photo_cache, as: :hidden %>
          <%end%>

          <%= f.submit "Add it", class: "btn-yours2" %>
          <% end %>

        </div>

      </div>
    </div>
  </div>
